Solcast download.json
[
    {
        "id": "c6e1753f802e5da8",
        "type": "tab",
        "label": "Solcast",
        "disabled": false,
        "info": ""
    },
    {
        "id": "29c5c88c5e35da06",
        "type": "http request",
        "z": "c6e1753f802e5da8",
        "name": "SolarForecast",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.solcast.com.au/rooftop_sites/<resource-id>/forecasts?format=json&hours=72",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "f65a76176e9dd131",
                "c81382fa001876e9"
            ]
        ]
    },
    {
        "id": "f65a76176e9dd131",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "Solarforecast",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "d88272138bc4c31c",
        "type": "inject",
        "z": "c6e1753f802e5da8",
        "d": true,
        "name": "Get PV Forecast",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "29c5c88c5e35da06"
            ]
        ]
    },
    {
        "id": "193ee9b5f86b2563",
        "type": "inject",
        "z": "c6e1753f802e5da8",
        "d": true,
        "name": "Read cache PV Forecast",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": "30",
        "topic": "",
        "payloadType": "date",
        "x": 260,
        "y": 400,
        "wires": [
            [
                "f866835aad44babf",
                "96b69b48654fc80a",
                "8c2313ec5533ff53"
            ]
        ]
    },
    {
        "id": "1bc841a4b0c71079",
        "type": "function",
        "z": "c6e1753f802e5da8",
        "name": "Extract All",
        "func": "// add up all the values:\nfor (var i in msg.payload.forecasts) {\n    msg.payload.forecasts[i] = Number(msg.payload.forecasts[i].pv_estimate);\n    }\n        msg.payload.pvtotal = msg.payload.forecasts.reduce(function(a, b){\n        return a + b;\n    }, 0);\n// halve the value due to a reading every 30 minutes:\nmsg.payload.pvtotal = msg.payload.pvtotal/2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 380,
        "wires": [
            [
                "fe68be8f09db61f3",
                "488f446ff16a34c7",
                "f3c4d443bdcf9c9b"
            ]
        ]
    },
    {
        "id": "fe68be8f09db61f3",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "GetPVArray",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 300,
        "wires": []
    },
    {
        "id": "f866835aad44babf",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "Working",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "488f446ff16a34c7",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "PVForecast to global",
        "rules": [
            {
                "t": "set",
                "p": "pvforecast",
                "pt": "global",
                "to": "payload.pvtotal",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a7bcc02538495e28",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "PVForecastObject to global",
        "rules": [
            {
                "t": "set",
                "p": "pvobject",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "dd13c7fc9b94e5fe",
                "8c2313ec5533ff53"
            ]
        ]
    },
    {
        "id": "aceb03b0541d8887",
        "type": "json",
        "z": "c6e1753f802e5da8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 80,
        "wires": [
            [
                "a0c23e9492571fe7"
            ]
        ]
    },
    {
        "id": "a0c23e9492571fe7",
        "type": "file",
        "z": "c6e1753f802e5da8",
        "d": true,
        "name": "",
        "filename": "/data/home/nodered/solarforecast.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1260,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "96b69b48654fc80a",
        "type": "file in",
        "z": "c6e1753f802e5da8",
        "d": true,
        "name": "",
        "filename": "/data/home/nodered/solarforecast.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "7d17eb6ce917c778"
            ]
        ]
    },
    {
        "id": "7d17eb6ce917c778",
        "type": "json",
        "z": "c6e1753f802e5da8",
        "d": true,
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 790,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c6cfb79dbbe4dbb1",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "readfile",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 340,
        "wires": []
    },
    {
        "id": "46e434c99ee79771",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "GetSolcastSuccess",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 120,
        "wires": []
    },
    {
        "id": "f247f2acd3080a6d",
        "type": "comment",
        "z": "c6e1753f802e5da8",
        "name": "Get Forecast from Solcast",
        "info": "",
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "ce45c7ed7dbbbd48",
        "type": "comment",
        "z": "c6e1753f802e5da8",
        "name": "Check for update every 5 minutes",
        "info": "",
        "x": 250,
        "y": 360,
        "wires": []
    },
    {
        "id": "f3c4d443bdcf9c9b",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "Write forecasts array to global",
        "rules": [
            {
                "t": "set",
                "p": "individualforecast",
                "pt": "global",
                "to": "payload.forecasts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "288d3550032d180b",
        "type": "function",
        "z": "c6e1753f802e5da8",
        "name": "Extract 12 hours",
        "func": "// add up all the values:\nvar pvtotal = 0\nvar forecasts = []\nfor (var i = 0; i < 24; i++) {\n    forecasts[i] = msg.payload.forecasts[i].pv_estimate;\n    }\n        pvtotal = forecasts.reduce(function(a, b){\n        return a + b;\n    }, 0);\n// halve the value due to a reading every 30 minutes:\n//msg.payload.forecasts = forecasts;\nmsg.payload.pvtotal = pvtotal/2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 526,
        "wires": [
            [
                "0ee688a2564d6376",
                "b36cd078b5a4138a"
            ]
        ]
    },
    {
        "id": "0ee688a2564d6376",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "12 hour PVForecast to global",
        "rules": [
            {
                "t": "set",
                "p": "pvforecast12",
                "pt": "global",
                "to": "payload.pvtotal",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 566,
        "wires": [
            []
        ]
    },
    {
        "id": "b36cd078b5a4138a",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "12h PV",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 526,
        "wires": []
    },
    {
        "id": "c0f579822b8d909a",
        "type": "function",
        "z": "c6e1753f802e5da8",
        "name": "Extract 24 hours",
        "func": "// add up all the values:\nvar pvtotal = 0\nvar forecasts = []\nfor (var i = 0; i < 48; i++) {\n    forecasts[i] = msg.payload.forecasts[i].pv_estimate;\n    }\n        pvtotal = forecasts.reduce(function(a, b){\n        return a + b;\n    }, 0);\n// halve the value due to a reading every 30 minutes:\n//set = msg.payload.forecasts = forecasts\nmsg.payload.pvtotal = pvtotal/2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 614,
        "wires": [
            [
                "92226e02b661802b",
                "3f29ce2e9729e699"
            ]
        ]
    },
    {
        "id": "92226e02b661802b",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "24 hour PVForecast to global",
        "rules": [
            {
                "t": "set",
                "p": "pvforecast24",
                "pt": "global",
                "to": "payload.pvtotal",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 654,
        "wires": [
            []
        ]
    },
    {
        "id": "3f29ce2e9729e699",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "24h PV",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 614,
        "wires": []
    },
    {
        "id": "6ad7b82cf0605133",
        "type": "function",
        "z": "c6e1753f802e5da8",
        "name": "Extract pessimistic 12 hours",
        "func": "// add up all the values:\nvar pvtotal = 0\nvar forecasts = []\nfor (var i = 0; i < 24; i++) {\n    forecasts[i] = msg.payload.forecasts[i].pv_estimate10;\n    }\n        pvtotal = forecasts.reduce(function(a, b){\n        return a + b;\n    }, 0);\n// halve the value due to a reading every 30 minutes:\n//set = msg.payload.forecasts = forecasts\nmsg.payload.pvtotal = pvtotal/2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 860,
        "wires": [
            [
                "e86270033a0eaa22",
                "54e053f062c19b9e"
            ]
        ]
    },
    {
        "id": "e86270033a0eaa22",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "12 hour P10 forecast to global",
        "rules": [
            {
                "t": "set",
                "p": "pvforecast12P10",
                "pt": "global",
                "to": "payload.pvtotal",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 902,
        "wires": [
            []
        ]
    },
    {
        "id": "54e053f062c19b9e",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "12h PV P10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 860,
        "wires": []
    },
    {
        "id": "29753a32b6532691",
        "type": "function",
        "z": "c6e1753f802e5da8",
        "name": "Extract pessimistic 24 hours",
        "func": "// add up all the values:\nvar pvtotal = 0\nvar forecasts = []\nfor (var i = 0; i < 48; i++) {\n    forecasts[i] = msg.payload.forecasts[i].pv_estimate10;\n    }\n        pvtotal = forecasts.reduce(function(a, b){\n        return a + b;\n    }, 0);\n// halve the value due to a reading every 30 minutes:\n//set = msg.payload.forecasts = forecasts\nmsg.payload.pvtotal = pvtotal/2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 946,
        "wires": [
            [
                "ceaaaab9aaea4c95",
                "cae9b08088d89387"
            ]
        ]
    },
    {
        "id": "ceaaaab9aaea4c95",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "24 hour P10 forecast to global",
        "rules": [
            {
                "t": "set",
                "p": "pvforecast24P10",
                "pt": "global",
                "to": "payload.pvtotal",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 989,
        "wires": [
            []
        ]
    },
    {
        "id": "cae9b08088d89387",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "24h PV P10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 946,
        "wires": []
    },
    {
        "id": "97dca6b84dfa01ce",
        "type": "function",
        "z": "c6e1753f802e5da8",
        "name": "Extract Day 48",
        "func": "// add up all the values:\nvar pvtotal = 0\nvar forecasts = []\nfor (var i = 49; i < 96; i++) {\n    forecasts[i] = msg.payload.forecasts[i].pv_estimate;\n    }\n        pvtotal = forecasts.reduce(function(a, b){\n        return a + b;\n    }, 0);\n// halve the value due to a reading every 30 minutes:\n//set = msg.payload.forecasts = forecasts\nmsg.payload.pvtotal = pvtotal/2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 694,
        "wires": [
            [
                "69ce95ae3fc488b3",
                "32cdc62ac5d14f66"
            ]
        ]
    },
    {
        "id": "69ce95ae3fc488b3",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "48 hour PVForecast to global",
        "rules": [
            {
                "t": "set",
                "p": "PVForecast48",
                "pt": "global",
                "to": "payload.pvtotal",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 734,
        "wires": [
            []
        ]
    },
    {
        "id": "32cdc62ac5d14f66",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "24h PV",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 694,
        "wires": []
    },
    {
        "id": "af0f4a169f3b2d90",
        "type": "function",
        "z": "c6e1753f802e5da8",
        "name": "Extract Day 72",
        "func": "// add up all the values:\nvar pvtotal = 0\nvar forecasts = []\nfor (var i = 97; i < 143; i++) {\n    forecasts[i] = msg.payload.forecasts[i].pv_estimate;\n    }\n        pvtotal = forecasts.reduce(function(a, b){\n        return a + b;\n    }, 0);\n// halve the value due to a reading every 30 minutes:\n//set = msg.payload.forecasts = forecasts\nmsg.payload.pvtotal = pvtotal/2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 774,
        "wires": [
            [
                "e6eba56cf54fe404",
                "88d2d9b62c68fe73"
            ]
        ]
    },
    {
        "id": "e6eba56cf54fe404",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "Day 72 PVForecast to global",
        "rules": [
            {
                "t": "set",
                "p": "PVForecast72",
                "pt": "global",
                "to": "payload.pvtotal",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 814,
        "wires": [
            []
        ]
    },
    {
        "id": "88d2d9b62c68fe73",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "24h PV",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 774,
        "wires": []
    },
    {
        "id": "1ffcbdd0b57ee130",
        "type": "function",
        "z": "c6e1753f802e5da8",
        "name": "Extract P10 Day 2",
        "func": "// add up all the values:\nvar pvtotal = 0\nvar forecasts = []\nfor (var i = 49; i < 96; i++) {\n    forecasts[i] = msg.payload.forecasts[i].pv_estimate10;\n    }\n        pvtotal = forecasts.reduce(function(a, b){\n        return a + b;\n    }, 0);\n// halve the value due to a reading every 30 minutes:\n//set = msg.payload.forecasts = forecasts\nmsg.payload.pvtotal = pvtotal/2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1035,
        "wires": [
            [
                "64aa203b4f464137",
                "3f8b74ccafba9125"
            ]
        ]
    },
    {
        "id": "64aa203b4f464137",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "Day 2 PVForecast to global",
        "rules": [
            {
                "t": "set",
                "p": "PVForecastD2P10",
                "pt": "global",
                "to": "payload.pvtotal",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 1075,
        "wires": [
            []
        ]
    },
    {
        "id": "3f8b74ccafba9125",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "24h PV",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 1035,
        "wires": []
    },
    {
        "id": "58e18f365ec16b92",
        "type": "function",
        "z": "c6e1753f802e5da8",
        "name": "Extract P10 Day 3",
        "func": "// add up all the values:\nvar pvtotal = 0\nvar forecasts = []\nfor (var i = 97; i < 143; i++) {\n    forecasts[i] = msg.payload.forecasts[i].pv_estimate10;\n    }\n        pvtotal = forecasts.reduce(function(a, b){\n        return a + b;\n    }, 0);\n// halve the value due to a reading every 30 minutes:\n//set = msg.payload.forecasts = forecasts\nmsg.payload.pvtotal = pvtotal/2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1115,
        "wires": [
            [
                "e7b6074d13f19ea6",
                "793dee2a3998928f"
            ]
        ]
    },
    {
        "id": "e7b6074d13f19ea6",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "Day 3 PVForecast to global",
        "rules": [
            {
                "t": "set",
                "p": "PVForecastD3P10",
                "pt": "global",
                "to": "payload.pvtotal",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 1155,
        "wires": [
            []
        ]
    },
    {
        "id": "793dee2a3998928f",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "24h PV",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1115,
        "wires": []
    },
    {
        "id": "c81382fa001876e9",
        "type": "switch",
        "z": "c6e1753f802e5da8",
        "name": "Check Forecast Status",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 120,
        "wires": [
            [
                "a7bcc02538495e28",
                "aceb03b0541d8887"
            ],
            [
                "5e46f558db6621c7"
            ]
        ]
    },
    {
        "id": "2197686ef7a50128",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "GetSolcastFailed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 160,
        "wires": []
    },
    {
        "id": "bd7319d721ca078a",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "PVForecast to global",
        "rules": [
            {
                "t": "set",
                "p": "pvforecastP10",
                "pt": "global",
                "to": "payload.pvtotal",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c5c6050f03989745",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "Write forecasts array to global",
        "rules": [
            {
                "t": "set",
                "p": "individualforecastP10",
                "pt": "global",
                "to": "payload.forecasts",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "031c5b77e02c21be",
        "type": "function",
        "z": "c6e1753f802e5da8",
        "name": "Extract All P10",
        "func": "// add up all the values:\nfor (var i in msg.payload.forecasts) {\n    msg.payload.forecasts[i] = Number(msg.payload.forecasts[i].pv_estimate10);\n    }\n        msg.payload.pvtotal = msg.payload.forecasts.reduce(function(a, b){\n        return a + b;\n    }, 0);\n// halve the value due to a reading every 30 minutes:\nmsg.payload.pvtotal = msg.payload.pvtotal/2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 480,
        "wires": [
            [
                "bd7319d721ca078a",
                "c5c6050f03989745"
            ]
        ]
    },
    {
        "id": "dd13c7fc9b94e5fe",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "Forecast Status",
        "rules": [
            {
                "t": "set",
                "p": "SolCastStatus",
                "pt": "global",
                "to": "Successful",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "SolCastLastFetch",
                "pt": "global",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 120,
        "wires": [
            [
                "46e434c99ee79771"
            ]
        ]
    },
    {
        "id": "5e46f558db6621c7",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "Forecast Status",
        "rules": [
            {
                "t": "set",
                "p": "SolCastStatus",
                "pt": "global",
                "to": "payload.response_status.error_code",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "SolCastLastFetch",
                "pt": "global",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 160,
        "wires": [
            [
                "2197686ef7a50128",
                "6d89624635a65fec"
            ]
        ]
    },
    {
        "id": "8c2313ec5533ff53",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "PVForecastObject to global",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "extract globals",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 520,
        "wires": [
            [
                "c6cfb79dbbe4dbb1",
                "1bc841a4b0c71079",
                "031c5b77e02c21be",
                "288d3550032d180b",
                "c0f579822b8d909a",
                "97dca6b84dfa01ce",
                "af0f4a169f3b2d90",
                "6ad7b82cf0605133",
                "29753a32b6532691",
                "1ffcbdd0b57ee130",
                "58e18f365ec16b92"
            ]
        ]
    },
    {
        "id": "c625daaf84855569",
        "type": "cronplus",
        "z": "c6e1753f802e5da8",
        "name": "Every 60 min between 4am to 10pm",
        "outputField": "payload",
        "timeZone": "Australia/Sydney",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "schedule1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0/30 3-23 * * ? *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 230,
        "y": 260,
        "wires": [
            [
                "29c5c88c5e35da06"
            ]
        ]
    },
    {
        "id": "6d89624635a65fec",
        "type": "function",
        "z": "c6e1753f802e5da8",
        "name": "Format email",
        "func": "msg.topic = 'Solcast failed';\nvar emailL1 = 'Solcase failed' + \"\\n\";\nvar emailL2 = 'Error code ' + msg.statusCode + \"\\n\";\nvar emailL3 = 'Error ' + msg.payload.response_status.error_code + \"\\n\";\nvar emailL4 = 'Cry' + \"\\n\";\nvar emailL5 = 'Check the details http://' + global.get(\"IPLocal\") + ':1880/ui/';\nmsg.payload = emailL1 + emailL2 + emailL3 + emailL4 + emailL5;\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 220,
        "wires": [
            [
                "92ec5dadbd51b4aa"
            ]
        ]
    },
    {
        "id": "92ec5dadbd51b4aa",
        "type": "e-mail",
        "z": "c6e1753f802e5da8",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": false,
        "name": "matt.taet@gmail.com",
        "dname": "",
        "x": 1400,
        "y": 220,
        "wires": []
    },
    {
        "id": "194fb3e51101e15f",
        "type": "function",
        "z": "c6e1753f802e5da8",
        "name": "Extract Daily Total",
        "func": "//This takes the array of forecasts and splits into days throwing away any data that is old\nvar x = -1;\nvar zeroday = 0;\nvar forecasts = msg.payload.forecasts;\nvar dailypv = [];\n\nvar d1 = new Date(); // Current date\nvar d2 = new Date(); // Date from forecasts\n\nfor (var i in forecasts) {\n  d2 = new Date(forecasts[i].period_end);\n  \n  if (forecasts[i].pv_estimate === 0) {\n    zeroday = 0; // Reset zeroday flag if pv_estimate is 0 as this is a new day\n  } else if (zeroday === 1) {\n    if (d2 >= d1) {\n      dailypv[x] += forecasts[i].pv_estimate / 2; // This is more data to be added to the same day\n    }\n  } else {\n    if (d2 >= d1) {\n      zeroday = 1; // This is the first occurance of a new day\n      x++; // Increment x to move to the next day's total\n      dailypv[x] = 0; // Initialize the current day's total\n      dailypv[x] += forecasts[i].pv_estimate / 2; // As the solcast data is per 30 minutes add half of pv_estimate to the current day's total\n    }\n  }\n}\n\nmsg.payload = dailypv; // Update payload with the daily pv totals\nmsg.pvforecast12 = dailypv[0]; // Set pvforecast12 to the first day's total\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1100,
        "wires": [
            [
                "688f156a4930939d",
                "7211cdb185cd61ed"
            ]
        ]
    },
    {
        "id": "5b2102f98409162f",
        "type": "inject",
        "z": "c6e1753f802e5da8",
        "name": "Create daily and summary forecast",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "pvobject",
        "payloadType": "global",
        "x": 270,
        "y": 1100,
        "wires": [
            [
                "194fb3e51101e15f"
            ]
        ]
    },
    {
        "id": "688f156a4930939d",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "New PV Daily",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1060,
        "wires": []
    },
    {
        "id": "25c2a935f2aa91c6",
        "type": "function",
        "z": "c6e1753f802e5da8",
        "name": "Extract DailyP10 Total",
        "func": "//This takes the array of forecasts and splits into days throwing away any data that is old\nvar x = -1;\nvar zeroday = 0;\nvar forecasts = msg.payload.forecasts;\nvar dailypv = [];\n\nvar d1 = new Date(); // Current date\nvar d2 = new Date(); // Date from forecasts\n\nfor (var i in forecasts) {\n  d2 = new Date(forecasts[i].period_end);\n  \n  if (forecasts[i].pv_estimate10 === 0) {\n    zeroday = 0; // Reset zeroday flag if pv_estimate is 0 as this is a new day\n  } else if (zeroday === 1) {\n    if (d2 >= d1) {\n      dailypv[x] += forecasts[i].pv_estimate10 / 2; // This is more data to be added to the same day\n    }\n  } else {\n    if (d2 >= d1) {\n      zeroday = 1; // This is the first occurance of a new day\n      x++; // Increment x to move to the next day's total\n      dailypv[x] = 0; // Initialize the current day's total\n      dailypv[x] += forecasts[i].pv_estimate10 / 2; // As the solcast data is per 30 minutes add half of pv_estimate to the current day's total\n    }\n  }\n}\n\nmsg.payload = dailypv; // Update payload with the daily pv totals\nmsg.pvforecast12P10 = dailypv[0]; // Set pvforecast12 to the first day's total\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1140,
        "wires": [
            [
                "84e836848e9c5889",
                "3c8d7b0e041d2912"
            ]
        ]
    },
    {
        "id": "f8703dbe4b37e3dc",
        "type": "inject",
        "z": "c6e1753f802e5da8",
        "name": "Create daily and summary P10 forecast",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "pvobject",
        "payloadType": "global",
        "x": 280,
        "y": 1140,
        "wires": [
            [
                "25c2a935f2aa91c6"
            ]
        ]
    },
    {
        "id": "84e836848e9c5889",
        "type": "debug",
        "z": "c6e1753f802e5da8",
        "name": "New PV10 Daily",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1180,
        "wires": []
    },
    {
        "id": "7211cdb185cd61ed",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "Set Daily Total to Global",
        "rules": [
            {
                "t": "set",
                "p": "DailyTotal",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "pvforecast12",
                "pt": "global",
                "to": "pvforecast12",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "3c8d7b0e041d2912",
        "type": "change",
        "z": "c6e1753f802e5da8",
        "name": "Set Daily Total to Global",
        "rules": [
            {
                "t": "set",
                "p": "DailyTotalP10",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "pvforecast12P10",
                "pt": "global",
                "to": "pvforecast12P10",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 1140,
        "wires": [
            []
        ]
    }
]
